@import url('https://fonts.googleapis.com/css2?family=Orbitron&display=swap');

/* Components */
@import "components/status-bar.css";
@import "components/sign-out.css";
@import "components/todo-list.css";

/* Screens */
@import "screens/splash-screen.css";
@import "screens/main-screen.css";

body {
    margin: 0;
    padding: 0;
    height: 100vh;
    font-family: 'Orbitron', sans-serif;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* Hides elements*/
.hidden {
    display: none !important;
}